
@media (min-width: 576px) { 


}
.display-2 {
    color: #B50717;
    font-family: 'Luckiest Guy', cursive;

}

h3 {
    font-family: 'Luckiest Guy', cursive;

}


body {
    background-color: rgb(2, 2, 2);
    background-image: url("skyline.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    

}

.blue-background {
    background-color: #0502a1;
    border-color:  #0502a1;
    
}



.spacing {
  margin-right: 10px;
}




body {
    background-color: rgb(148, 148, 148);

}
/* 
.col-3-search{
    
    background-color: #b8b8c5;
    
} */
#search-button{
    padding-left: 7%;

}


#nBuilders{

text-align: center;

}


#names{

    text-align: center;

}
footer {


    padding-bottom: 20px;
    
}
#buildtext{
color: #b8b8c5;

}
#results{
display: flex;
justify-content:center;

}
#render{
    overflow: auto;
}