
@media (min-width: 576px) { 


}
.display-2 {
    color:red;
    font-family: 'Luckiest Guy', cursive;

}

h3 {
    font-family: 'Luckiest Guy', cursive;
    color: aliceblue;

}

/* 
body {
    background-color: rgb(2, 2, 2);
    background-image: url("skyline.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    

} */

.blue-background {
    background-color: #0502a1;
    border-color:  #0502a1;
    
}



.spacing {
  margin-right: 10px;
}




body {
    background-color: rgb(148, 148, 148);

}
/* 
.col-3-search{
    
    background-color: #b8b8c5;
    
} */
#search-button{
    padding-left: 10%;

}


#nBuilders{

text-align: center;

}


#names{

    text-align: center;

}
footer {


    padding-bottom: 20px;
    
}
#buildtext{
color: #b8b8c5;

}
#results{
display: flex;
justify-content:center;

}
#render{
    padding: 10px;
}

/*Video section*/
* {
    margin: 0; padding: 0;
  }

  html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    
  }

  #container {
    overflow: hidden;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;

  }

  #background_video {
    position: absolute;

    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
    height: 100%; width: 100%;
  }

  #video_cover {
    position: absolute;

    width: 100%; height: 100%;

    background: url('city-video.mp4') no-repeat;
    background-size: cover;
    background-position: center;
  }